// breakpoints

// 640px: 40em, 1024px: 1024px: 64em: 1400px: 87.5em
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "semi-large": "75em",
  "xlarge": "87.5em",
);

$breakpoints-down: (
  "small": "39.9375em",
  "medium": "63.9375em",
  "semi-large": "70em",
  "large": "87.4375em",
);

@mixin breakpoints-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoints-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

.hide-for-mobile {
  @include breakpoints-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoints-up(medium) {
    display: none;
  }
}
