$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-17: 1.0625rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-21: 1.3125rem;
$font-24: 1.5rem;
$font-26: 1.625rem;
$font-28: 1.75rem;
$font-32: 2rem;
$font-40: 2.5rem;
$font-48: 3rem;
$font-56: 3.5rem;
$font-64: 4rem;
$font-72: 4.5rem;
$font-80: 5rem;
$font-88: 5.5rem;
