@use "../../assets/styles/utils/" as u;

.hero {
  height: 100%;
  margin-top: 8.45rem;

  @include u.breakpoints-up(medium) {
    margin-top: 0;
  }

  &__profile-container {
    position: relative;
    min-height: 100%;
    -webkit-perspective: 30rem;
    perspective: 30rem;
    // width: 480px;
  }

  &__profile-image {
    position: relative;
    background-image: url(/images/profile-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: u.rem(653.183);

    -webkit-border-radius: 1.625rem;
    border-radius: 1.625rem;

    @include u.breakpoints-down(small) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @include u.breakpoints-up(large) {
      -webkit-transform: rotateY(6deg);
      transform: rotateY(6deg);
      z-index: 2;
    }
  }

  &__profile-blur {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 36%;
    right: 0;
    bottom: 0;
    left: 0;
    --webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    background: linear-gradient(
      180deg,
      rgba(4, 25, 29, 0) 0%,
      rgba(1, 9, 15, 0.9) 100%
    ) !important;
    -webkit-border-radius: 0 0 0.25rem 0.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    opacity: 1;
    color: var(--wc-white);

    -webkit-border-radius: 1.625rem 1.625rem;
    border-radius: 0 0 1.625rem 1.625rem;
    overflow: hidden;
  }

  &__profile-title {
  }

  &__title {
    font-size: 2.25rem;
    color: var(--wc-white);
    font-weight: 700;
  }

  &__subtitle {
    color: var(--wc-green);
    font-weight: 600;
  }

  &__profile-socials {
    margin: 1rem 0 0;
  }

  &__profile-icon {
    padding: 0.5rem;
    min-height: 1.25rem;
    cursor: pointer;
    color: var(--wc-white);
  }

  &__download-contact {
    display: flex;
    margin-top: 2rem;

    button {
      width: 100%;
      height: u.rem(70);
      line-height: u.rem(70);
      font-size: u.$font-14;
      color: var(--wc-white);
      font-weight: 600;
      text-align: center;
      background-color: transparent;
      border: none;

      span {
        margin-right: 0.75rem;
      }
    }
  }

  &__download-btn {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      width: u.rem(1);
      height: 100%;

      background: -webkit-radial-gradient(
        top,
        ellipse cover,
        rgba(197, 202, 213, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%
      );
      background: radial-gradient(
        ellipse at top,
        rgba(197, 202, 213, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%
      );
    }
  }
}
