@use "../../assets/styles/utils/" as u;
@use "../../assets//styles/globals/" as f;

.hero {
  min-height: 100dvh;
  margin-top: 8.45rem;
  margin-bottom: u.rem(50000); //testing purposes only

  @include u.breakpoints-up(medium) {
    margin-top: 0; // ok or temp
  }

  &__profile-container {
    position: relative;
    min-height: 100%;
  }

  &__profile-image {
    position: relative;
    background-image: url(/images/profile-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: u.rem(620);

    -webkit-border-radius: 0 0 1.625rem 1.625rem;
    border-radius: 0 0 1.625rem 1.625rem;

    @include u.breakpoints-up(medium) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__profile-blur {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 36%;
    bottom: 0;
    left: 0;
    right: 0;
    --webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    background: linear-gradient(
      180deg,
      rgba(4, 25, 29, 0) 0%,
      rgba(1, 9, 15, 0.9) 100%
    ) !important;
    -webkit-border-radius: 0 0 0.25rem 0.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    opacity: 1;
    color: var(--wc-white);

    -webkit-border-radius: 0 0 1.625rem 1.625rem;
    border-radius: 0 0 1.625rem 1.625rem;
  }

  &__profile-title {
  }

  &__title {
    font-size: 2.25rem;
    color: var(--wc-white);
    font-weight: 700;
  }

  &__subtitle {
    color: var(--wc-green);
    font-weight: 600;
  }

  &__profile-socials {
    margin: 1rem 0 0;
  }

  &__profile-icon {
    padding: 0.5rem;
    min-height: 1.25rem;
    cursor: pointer;
  }

  &__download-contact {
    display: flex;
    margin-top: 2rem;

    button {
      width: 100%;
      height: u.rem(70);
      line-height: u.rem(70);
      font-size: f.$font-14;
      color: var(--wc-white);
      font-weight: 600;
      text-align: center;
      background-color: transparent;
      border: none;

      span {
        margin-right: 0.75rem;
      }
    }
  }

  &__download-btn {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      width: u.rem(1);
      height: 100%;

      background: -webkit-radial-gradient(
        top,
        ellipse cover,
        rgba(197, 202, 213, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%
      );
      background: radial-gradient(
        ellipse at top,
        rgba(197, 202, 213, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%
      );
    }
  }
}
