@use "../../assets/styles/utils/" as u;

.resume {
  color: var(--wc-white);
  //   line-height: 1.7;

  &__title {
    color: inherit;
    font-weight: 700;
    font-size: u.$font-21;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s, transform var(--e-transform-transition-duration, 0.4s);
  }

  // override the default horizontal line style for experience section
  &__experience .border-line-h,
  &__education .border-line-h {
    &::after {
      left: 0;
    }
  }

  &__container {
    padding-top: 1.875rem;
  }

  &__icon {
    margin-right: u.rem(7);
    position: relative;
    top: u.rem(-13);
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    color: #78cc6d;
    svg {
      fill: #4acf51;
    }
  }

  &__sub-title {
    padding: 0 0 1.875rem;
  }

  &__subtitle-name {
    font-weight: 700;
    line-height: 0.875rem;
    font-size: 1.0625rem;
    text-transform: uppercase;
  }

  &__items {
    // style for medium and large screens
  }

  .line-timeline {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 0.0625rem;
      top: 1.875rem;
      bottom: 1.875rem;
      background: rgba(197, 202, 213, 0.15);
    }
  }

  // override horizontal line alignment styles for each resume item
  &__items .border-line-h {
    &::after {
      left: u.rem(-15);
      bottom: u.rem(-15);
    }
  }

  &__item {
    border: u.rem(1) solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.02);
    -webkit-border-radius: u.rem(20);
    border-radius: u.rem(20);
    border: u.rem(1) solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.02);

    margin: u.rem(30) 0 u.rem(30) u.rem(15);

    padding: u.rem(20);

    &::before {
      content: "";
      position: absolute;
      width: u.rem(10);
      height: u.rem(10);
      -webkit-border-radius: 100%;
      border-radius: 100%;
      background: #666;
    }

    &::before {
      top: u.rem(26);
      left: u.rem(-20);
    }
    L0 &:first-child {
      &::before {
        background-color: #4caf51;
      }
    }
  }

  &__item-image {
    margin-left: u.rem(15);
    position: relative;
    width: u.rem(80);
    height: u.rem(80);
    float: right;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      filter: contrast(0);
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

  // apply green color to date element of first item
  .date-green {
    border-color: #4caf51;
    color: #4caf51;
  }

  &__item-date {
    margin: 0 0 u.rem(11);
    padding: 0 u.rem(5);
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: u.rem(13);
    line-height: u.rem(18);
    // color: #9a9a9a;
    font-weight: 400;
    border: u.rem(1) solid #9a9a9a;
    -webkit-border-radius: u.rem(4);
    border-radius: u.rem(4);
    color: #666;
    border-color: #666;
  }

  &__item-name {
    font-size: u.$font-17;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.3;
  }

  &__company {
    margin: u.rem(4) 0 u.rem(11);
    font-size: u.rem(14);
    color: #999;
    font-weight: 400;
  }

  &__single-post-text {
    word-wrap: break-word;

    p {
      font-size: u.rem(17);
      line-height: 1.7;
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      clear: both;
    }
  }

  &__link {
    margin-top: u.rem(10);
    text-align: inherit;
    height: auto;
    line-height: u.rem(20);

    position: relative;
    display: block;
    width: 100%;
    font-size: u.rem(14);
    font-weight: 600;
    text-transform: uppercase;
    border: none;

    color: rgba(255, 255, 255, 0.65);
    opacity: 1;
    outline: none;

    a {
      text-decoration: none;
      box-shadow: none;
    }

    &:hover {
      color: #4caf51;
    }
  }

  &__right-arrow {
    padding-left: 0.25rem;
    color: inherit;
  }
}
