@use "../../assets/styles/utils/" as u;

.contact {
  color: var(--text-color-white);
  animation: onActiveAnimation 1s linear forwards;

  &__details {
    margin: 0 u.rem(-30);
    margin-top: 1rem;
  }

  &__details-list {
    padding: 0 u.rem(30);
    padding-bottom: 4rem;
    @media (min-width: u.rem(681)) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }

    li {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: u.rem(1);
        background: radial-gradient(
          ellipse at center,
          rgba(197, 202, 213, 0.15) 0%,
          rgba(255, 255, 255, 0) 70%
        );
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: u.rem(160);
  }

  &__form-inputs {
    @media (min-width: u.rem(681)) {
      display: flex;
      column-gap: 1.5rem;
    }
  }

  &__form-input-container {
    width: 100%;
  }

  &__form-error {
    font-size: u.$font-14;
    margin-top: 0.5rem;
    margin-left: 0.125rem;
    color: rgb(255, 120, 0);
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.12em;
    border-color: #666;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    span {
      font-size: u.$font-14;
      font-weight: 600;
      text-align: center;
    }

    svg {
      line-height: u.rem(50);
      width: 1.5rem;
      height: 1.5rem;
      transition: all 0.3s ease-in-out;
    }
  }

  button:hover {
    color: #4caf51;
    border-color: #4caf51;
    svg {
      fill: #4caf51;
      transform: translateX(0.25rem);
    }
  }

  input,
  textarea,
  button {
    margin-top: 2rem;
  }

  textarea {
    resize: none;
  }
}
