.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-width: 20rem;
  font-size: 0.875rem;

  background-color: white;
  color: black;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 1.875rem;
  }

  &__full-name {
    font-size: 1.5rem;
  }

  &__image {
    max-height: 17rem;
    border-radius: 5%;
  }

  &__socials {
    margin-top: 1rem;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
