@use "../utils/" as u;

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  max-width: 1375px;
  max-height: 674px;
  -o-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  @media (max-width: u.rem(1300)) {
    margin: 5dvh 3dvh;
    height: 90dvh;
  }

  @media (min-width: u.rem(1122)) {
    display: flex;
    margin: 8dvh 6dvw;
    max-height: u.rem(740);
    max-width: u.rem(1360);
  }

  @media (max-width: u.rem(1120)) {
    margin: 0 auto;
    padding: 0 15px 0 100px;
    max-width: 840px;
    top: 15px;
    // background: #15191c !important;
  }

  @media (max-width: u.rem(680)) {
    // padding-top: u.rem(126);
    top: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }
}
